In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\x p s\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\x p s\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "admin1", password = "password1", database= "littlelemondb2")

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('customers',)
('employees',)
('menuitems',)
('menuitemswithmorethan2ordersview',)
('menus',)
('orderdeliverystatus',)
('ordermorethan150view',)
('orders',)
('ordersview',)

In [6]:
sql_show_cunsomers_cost60 = """
SELECT c.CustomerFullName, c.ContactNumber, c.Email, o.Cost
FROM customers as c INNER JOIN bookings as b INNER JOIN orders as o
ON (c.CustomerID= b.CustomerID AND b.BookingID= o.BookingID)
WHERE o.Cost > 60
"""

In [7]:
cursor.execute(sql_show_cunsomers_cost60)

In [8]:
results = cursor.fetchall()
print(cursor.column_names)
for r in results:
    print(r)

('CustomerFullName', 'ContactNumber', 'Email', 'Cost')
('Customer3', '0533147755', 'c3@gmail.com', Decimal('200'))
('Customer4', '0549144755', 'c4@gmail.com', Decimal('250'))
('Customer2', '0549147565', 'c2@gmail.com', Decimal('100'))
('Customer3', '0533147755', 'c3@gmail.com', Decimal('200'))